{% include "error.twig" %}
<form
  id="repositories">
  <fieldset>
    <legend>Repositories</legend>
    <div class="repo-list">
    {% for repo in repos %}
      <div>
        <input
          name="{{repo}}"
          id="{{repo}}"
          type="checkbox"
          value="{{repo}}"/>
        <label for="{{repo}}">{{repo}}</label>
      </div>
    {% endfor %}
    </div>
    <input type="submit" value="Submit"/>
  </fieldset>
</form>