<form
  id="repositories">
  <fieldset>
    <legend>Repositories</legend>
    <div class="repo-list">
    {% for repo in repos %}
      <div>
        <input
          name="{{repo.name}}"
          id="{{repo.name}}"
          type="checkbox"
          value="{{repo.name}}"/>
        <label for="{{repo.name}}">{{repo.name}}</label>
      </div>
    {% endfor %}
    </div>
    <input type="submit" value="Submit"/>
  </fieldset>
</form>